[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim/bundle/ctrlp-py-matcher"]
	path = vim/bundle/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher.git
	ignore = dirty
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim/bundle/vim-tomorrow-theme"]
	path = vim/bundle/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/soedar/prezto.git
[submodule "vimperator/colors"]
	path = vimperator/colors
	url = https://github.com/vimpr/vimperator-colors.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/bundle/csv.vim"]
	path = vim/bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
